.App {
  text-align: center;
}

.btn-bg {
  background-color: #013088;
  color:#fff;
}

.btn-bg:hover {
  background-color: #013088;
  color:#fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login-line {
  width: 90%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 10px auto;
  background-color: #eee;
  color: #000;
  font-size: 16px;
  line-height: 37px;
  cursor: pointer;
  border-radius: 13px;
  justify-content: space-between;
  transition: all 0.3s;
  align-items: center;
}
.login-line:hover {
  box-shadow: 0 0 20px 0px #aaa;  
}
.login-line:hover label{
background: #1d65ec;
}

.login-line .dot-log {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.login-line div {
  display: flex;
  flex-direction: row;
}
.login-line div img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right:10px;

}
.login-line span {
  text-align: center;
  cursor: pointer;
}

.login-line label {
  width: 50%;
  text-align: center;
  transition: all 1s;
  background: #013088;
  color:#fff;
  float: right;
  cursor: pointer;
}

.txt-line {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
}

.input-line {
  width: 90%;
  border: 1px solid #bfbfbf;
  padding: 4px;
  border-radius: 13px;
  margin: 8px auto;
  position: relative;
  top: 0;
}

.input-line input {
  outline: none;
  background-color: transparent;
  font-size: 18px;
  border: none;
  text-align: center;
  width: 100%;
  height: 58px;
  line-height: 58px;
}

.input-line .btn-send {
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 8px;
}

.input-line .enabled {
  background-color: #013088;
  cursor: pointer;
  color:#fff;
}

.input-line .enabled:hover {
  background-color: #013088;
  color:#fff;
  cursor: pointer;
}

.input-line .diabled {
  background-color: rgb(199, 199, 199);
  cursor: not-allowed;
}

.btn-line {
  width: 100%;
}

.btn-line .btn-login {
  width: 130px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #131313;
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 30px auto;
  background-color: #013088;
  color:#fff;
  cursor: pointer;
}

.btn-line .btn-login:hover {
  background-color: #013088;
  color:#fff;
}